useDynLib(siarbeta, .registration = TRUE)

export(siarbeta)
export(evaluate_ump)
export(summary.simm)
export(mixingspace)
export(plot_corr)
export(plot_post)

S3method(summary, simm)

importFrom("stats", "cor")
importFrom("stats", "density")
importFrom("grDevices", "colorRampPalette")
importFrom("methods", "new")
importFrom("coda", "mcmc")
importFrom("coda", "mcmc.list")
importFrom("coda", "HPDinterval")
importFrom("coda", "gelman.diag")
importFrom("ggplot2", "ggplot")
importFrom("ggplot2", "aes_string")
importFrom("ggplot2", "geom_point")
importFrom("ggplot2", "geom_area")
importFrom("ggplot2", "geom_errorbar")
importFrom("ggplot2", "geom_errorbarh")
importFrom("ggplot2", "xlab")
importFrom("ggplot2", "ylab")
importFrom("ggplot2", "xlim")
importFrom("ggplot2", "theme")
importFrom("ggplot2", "theme_bw")
importFrom("ggplot2", "theme_test")
importFrom("ggplot2", "element_rect")
importFrom("ggplot2", "element_blank")
importFrom("ggplot2", "guides")
importFrom("ggplot2", "scale_fill_gradientn")
importFrom("ggplot2", "stat_density2d")
importFrom("ggplot2", "facet_wrap")
importFrom("GGally", "wrap")
importFrom("GGally", "ggally_cor")
importFrom("GGally", "ggpairs")
